* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

form {
  margin-bottom: 15px;
}

img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.hidden {
  display: none;
}
